.blog {
  background: palette(white);
  width: auto;
  padding: ritmo(8);
  margin-top: ritmo(10);

  .section-title {
    margin-bottom: 0;
    color: palette(black);
    @include container(1000px);
  }
}

.blog__item {
  border-bottom: 1px solid palette(grey, x-light);
  padding-bottom: ritmo(5);
  margin: ritmo(4) auto;
  @include container(1000px);

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }

  @include mq($from: break-medium) {
    padding-bottom: ritmo(10);
    margin: ritmo(5) auto;
  }
}

.blog__item-title a {
  color: palette(mzharp, mid-dark);
  font-weight: 300;
  @include ritmo-font-size(ritmo(4));
  text-transform: uppercase;
}

.blog__item-description {

  @include mq($until: break-medium) {
    @include ritmo-font-size(1px);
  }
}
