footer.footer
  p
    a(href="https://github.com/marzeelabs/mz-harp" target="_blank" alt="Marzee Labs Harp, MZ Harp") MZ HARP&nbsp;
    is supported by&nbsp;
    a(href="http://marzeelabs.org/" target="_blank" alt="Marzee Labs") MARZEE LABS
    |,<br>a leading software development company.<br>
    |&copy; MZ Harp #{new Date().getFullYear()}
