footer.footer
  p
    a(href="https://github.com/marzeelabs/mz-harp" target="_blank" alt="MARZEE HARP") MZ HARP&nbsp;
    is supported by&nbsp;
    a(href="http://marzeelabs.org/" target="_blank" alt="Marzee Labs") MARZEE LABS
    |,<br>a leading drupal development company.<br>
    |&copy; MZ Harp #{new Date().getFullYear()}
