.intro-section

  ul.intro-section__list

    li.intro-section__list__item
      img.intro-section__logo(src='/images/home/logo.svg')

    li.intro-section__list__item
      h1.intro-section__title MZ-Harp
      p A boilerplate for Harp with Gulp support. Provides responsive images support and a simple blog structure.
      a.intro-section__link(href="https://github.com/marzeelabs/generator-mzharp") View in Github
        img(src='/images/home/github.svg')
