ul.post-pager
  include _latest_posts
  - var currentPostIndex;
  each latestPost, latestPostIndex in latestPosts
    if latestPost.slug == current.source
      - currentPostIndex = latestPostIndex;
  if currentPostIndex < latestPosts.length - 1
    - var previousLatestPost = latestPosts[currentPostIndex + 1];
    li.previous
      a(href="/blog/#{ previousLatestPost.slug }", title="Previous post") &#8249;
        != previousLatestPost.title
  if currentPostIndex > 0
    - var nextLatestPost = latestPosts[currentPostIndex - 1];
    li.next
      a(href="/blog/#{ nextLatestPost.slug }", title="Next post")  &#8249;
        != nextLatestPost.title

